html,body
{
    height: 100%;
    width: 99%;
    margin: 0;
    padding: 0;
    background: linear-gradient(bottom, #d6dbd4 80%, #009c89 20%);
    background: -o-linear-gradient(bottom, #d6dbd4 80%, #009c89 20%);
    background: -moz-linear-gradient(bottom, #d6dbd4 80%, #009c89 20%);
    background: -webkit-linear-gradient(bottom, #d6dbd4 80%, #009c89 20%);
    background: -ms-linear-gradient(bottom, #d6dbd4 80%, #009c89 20%);   
}
.container
{
    display: flex;
    width: 79%;
    height: 90%;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    position: relative;
    top: 45px;
    background-color:  red; 
}
.container > div:nth-child(1)
{
    width: 30%;
    height: 100%;
    background-color: yellow;  
}
.container > div:nth-child(2)
{
    height: 100%;
    width: 70%;
    background-color: blue;  
}
.side_pannel
{
    display: flex;
    flex-direction: column;
}
.side_pannel > div:nth-child(1)
{
    height: 8%;	
    width: 100%; 
    background-color: green;  
}
.side_pannel > div:nth-child(2)
{
    height: 80%;	
    width: 100%; 
    background-color: rgb(128, 0, 100); 
    
}
.side_pannel > div:nth-child(3)
{
    height: 12%;	
    width: 100%; 
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(128, 109, 0);  
}
.chat_container
{
    display: flex;
    flex-direction: column;
}
.chat_container > div:nth-child(1)
{
    height: 8%;	
    width: 100%; 
    background-color: rgb(151, 180, 151);  
}
.chat_container > div:nth-child(2)
{
    height: 85%;	
    width: 100%; 
    background-color: rgb(182, 43, 152); 
    background-image: url("background.png");
    overflow: scroll; 
}
.chat_container > div:nth-child(3)
{
    height: 7%;	
    width: 100%; 
    background-color: rgb(2, 0, 128);  
}
.message-box
{
    display: flex;
}
.message-box > div:nth-child(1)
{
    height: 100%;	
    width: 90%; 
    background-color: rgb(36, 126, 129);  
}
.message-box > div:nth-child(2)
{
    height: 100%;	
    width: 10%; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 58, 31);  
}
#send 
{
    border:  solid #727975;
    border-width: 0 8px 8px 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;   
}
.arrow_right 
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
input
{
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgb(141, 29, 29);
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
input:focus
{
    outline: none;  
}
.info
{
    display:flex;
    align-items: center;
    justify-content: center;
}
.info > div:nth-child(1)
{
    height: 92%;
    width:85%;
    background-color: yellow;
    color: #727975;
    opacity: 0.7;
    overflow: scroll; 
}
#ulist
{
    padding: 18px;
    list-style-type: none;
}
#ulist li
{
    height: auto;
    margin-bottom: 12px;
    clear: both;
    padding-left: 12px;
    padding-right: 12px;
}
#ulist li span
{
    display: inline-block;
    max-width: 500px;
    min-width: 80px;
    background-color: white;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #8A8C89;
}
#ulist li span.left
{
    float: left;
    background-color: white;
}
#ulist li span.left:after
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -8.5px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid white;
}
#ulist li span.left:before
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
}
#ulist li span.right:after
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #d1ffc3;
}
#ulist li span.right:before
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
}
#ulist li span.right
{
    float: right;
    background-color: #d1ffc3;
}
.clear
{
    clear: both;
}
label
{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}
 


